@model IEnumerable<SysGymT.EntidadesDeNegocio.Service>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Maquinaria</title>
    <link rel="stylesheet" href="~/css/machines/index.css">
</head>
<h1 class="position-absolute top-80 start-50 translate-middle text-warning">Listado de Maquinarias</h1>
<p class="mt-6">
    <a asp-action="Create" class="btn btn-warning" type="submit">
        Agregar
        <img src="~/img/machines/add-icon.png" id="invert" />
    </a>
</p>
<div class="main-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name_Service)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descryption)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name_Service)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descryption)
                    </td>
                    <td>
                    <td class="botonestabla">
                        <a asp-action="Edit" asp-route-Id_Service="@item.Id_Service" class="edit-button">
                            <img src="~/img/machines/editar.png" class="image-inside-button" />
                        </a>
                    </td>

                    <td class="botonestabla">
                        <a asp-action="Details" asp-route-Id_Service="@item.Id_Service" class="btn btn-info see-button">
                            <img src="~/img/machines/see-icon.png" class="image-inside-button" />
                        </a>
                    </td>

                    <td class="botonestabla">
                        <a asp-action="Delete" asp-route-Id_Service="@item.Id_Service" class="btn btn-danger delete-button">
                            <img src="~/img/machines/trash-icon.png" class="image-inside-button" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>