@model IEnumerable<SysGymT.EntidadesDeNegocio.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descryption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descryption)
            </td>
            <td>
                <td class="botonestabla">
                        @Html.ActionLink("Modificar", "Edit", new { Id_Service = item.Id_Service}, new { @class = "btn btn-success" })
                </td>
                <td class="botonestabla">
                        @Html.ActionLink("Ver", "Details", new { Id_Service = item.Id_Service }, new { @class = "btn btn-info" })
                </td>
                <td class="botonestabla">
                        @Html.ActionLink("Eliminar", "Delete", new { Id_Service = item.Id_Service }, new { @class = "btn btn-danger" })
                </td>
            </td>
        </tr>
}
    </tbody>
</table>
