@model IEnumerable<SysGymT.EntidadesDeNegocio.Machines>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" type="submit" class="btn btn-primary">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machines_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acquisition_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintenance_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Next_Maintenance_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machines_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acquisition_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maintenance_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Next_Maintenance_Date)
            </td>
            <td>
                <td class="botonestabla">
                        @Html.ActionLink("Modificar", "Edit", new { Id_Machines = item.Id_Machines}, new { @class = "btn btn-success" })
                </td>
                <td class="botonestabla">
                        @Html.ActionLink("Ver", "Details", new { Id_Machines = item.Id_Machines }, new { @class = "btn btn-info" })
                </td>
                <td class="botonestabla">
                        @Html.ActionLink("Eliminar", "Delete", new { Id_Machines = item.Id_Machines }, new { @class = "btn btn-danger" })
                </td>
            </td>
        </tr>
}
    </tbody>
</table>
