@model SysGymT.EntidadesDeNegocio.Details

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_products)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationsDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDetails">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
