@model SysGymT.EntidadesDeNegocio.Customer

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/machines/create.css">

<div class="row main-div text-center">
    <h3>Se eliminara el siguiente registro:</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name_Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name_Customer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DUI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DUI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Membership)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership)
        </dd>
    </dl>

    <div class="form-group text-center">
        <input type="submit" value="Create" class="btn btn-warning" />

        <a asp-action="Index" class="btn btn-danger ml-2">Cancelar</a>
    </div>
</div>
