@model SysGymT.EntidadesDeNegocio.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Customer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Products)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Page_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Page_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale_Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale_Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Register_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Register_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Bill">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
