@model IEnumerable<SysGymT.EntidadesDeNegocio.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Page_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Register_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Products)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Page_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Register_Date)
            </td>
            <td>
                <td class="botonestabla">
                        @Html.ActionLink("Modificar", "Edit", new { Id_Bill = item.Id_Bill}, new { @class = "btn btn-success" })
                </td>
                <td class="botonestabla">
                        @Html.ActionLink("Ver", "Details", new { Id_Bill = item.Id_Bill }, new { @class = "btn btn-info" })
                </td>
                <td class="botonestabla">
                        @Html.ActionLink("Eliminar", "Delete", new { Id_Bill = item.Id_Bill }, new { @class = "btn btn-danger" })
                </td>>
            </td>
        </tr>
}
    </tbody>
</table>
